/* 👇👇👇 SCROLL DOWN TO THE "ADD YOUR FORM STYLES BENEATH" comment (line 25) 👇👇👇*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.content {
  padding: 30px;
}

h2 {
  text-transform: uppercase;
}

p {
  font-weight: bold;
}

/* 👇👇👇  ADD YOUR FORM STYLES BENEATH  👇👇👇*/

.content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  padding: 30px;
}

form {
  border: 1px solid #a9a9a9;
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.subtext {
  color: #a9a9a9;
  font-weight: unset;
  padding-top: 10px;
  padding-bottom: 20px;
}

#sign-in,
#sign-up {
  flex: 1 1;
}

a {
  color: #335eea;
  text-decoration: none;
}

label {
  font-weight: bold;
}

input {
  width: 100%;
  height: 30px;
  padding: 5px;
}

input[type="checkbox"],
input[type="radio"] {
  width: max-content;
  height: max-content;
  padding: 0;
}

input[type="submit"] {
  flex-direction: row;
  align-items: center;
  gap: 20px;
  width: unset;
  height: unset;
  padding: 14px 20px;
  background: #335eea;
  color: white;
  font-size: 18px;
  border: 1px solid #335eea;
  border-radius: 8px;
  appearance: none;
  outline: none;
  clear: left;
  cursor: pointer;
}

input[type="submit"]:hover {
  background: #294bbb;
  
}

.form select {
  height: 30px;
}

.form-input-control,
.form-checkbox-control,
.form-submit-control,
.form-group-horizontal-control,
.form-group-vertical-control {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.form-checkbox-control { 
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

.form-checkbox-control > label {
  font-weight: normal;
}

.form-group-horizontal-control {
  flex-direction: row;
  gap: 20px;
}

.form-group-horizontal-control .form-input-control {
  flex: 1;
}

.form-submit-control {
  flex-direction: row;
  align-items: center;
  gap: 20px;
  justify-content: center;
}


